image:
  name: {{ .Environment.Values.authProxy.image }}
  tag: {{ .Environment.Values.authProxy.tag }}
clientId: {{ .Environment.Values.authProxy.clientId }}
clientSecret: {{ .Environment.Values.authProxy.clientSecret }}
cookieSecret: {{ .Environment.Values.authProxy.cookieSecret }}
githubOrg: {{ .Environment.Values.authProxy.githubOrg }}
