host: verdun.patrician.gold
path: /metrics
prometheus-operator:
{{ readFile "prometheus-operator.yml" | indent 2 }}
  kube-state-metrics:
    image:
      repository: {{ .Environment.Values.prometheus.kubeStateMetrics.repo }}
      tag: {{ .Environment.Values.prometheus.kubeStateMetrics.tag }}
{{ readFile "kube-state-metrics.yml" | indent 4 }}
  grafana:
    enabled: false
  nodeExporter:
    enabled: false
grafana:
  enabled: false
nodeExporter:
  enabled: false
