image:
  name: {{ .Values.traefik.repo }}
  tag: {{ .Values.traefik.tag }}
host: traefik.patrician.cloud
log:
  level: warn
accessLog: false
acme:
  email: jan.moeller0@gmail.com
  provider:
    name: digitalocean
    digitalocean:
      DOAuthToken: {{ .Values.traefik.acme.DOAuthToken }}
  persistence:
    size: 1Gi
