auth-proxy:
  clientId: {{ .Environment.Values.authProxy.clientId }}
  clientSecret: {{ .Environment.Values.authProxy.clientSecret }}
image:
  name: {{ .Values.traefik.repo }}
  tag: {{ .Values.traefik.tag }}
log:
  level: warn
acme:
  email: jan.moeller0@gmail.com
  provider:
    name: digitalocean
    digitalocean:
      DOAuthToken: {{ .Values.traefik.acme.DOAuthToken }}
  persistence:
    size: 1Gi
