image:
  repository: {{ .Environment.Values.verdun.api.repo }}
  tag: {{ .Environment.Values.verdun.api.tag }}

nginx:
  staticContainers:
    - name: frontend
      image: {{ .Environment.Values.verdun.frontend.repo }}:{{ .Environment.Values.verdun.frontend.tag }}
      srcPath: /app
      dstPath: frontend
