postgres:
  user: {{ .Environment.Values.synapse.postgres.user }}
  password: {{ .Environment.Values.synapse.postgres.password }}
  s3AccessId: {{ .Environment.Values.kubedb.s3AccessId }}
  s3SecretKey: {{ .Environment.Values.kubedb.s3SecretKey }}
