apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "helm-chart.fullname" . }}-config
  labels:
    app: {{ include "helm-chart.name" . }}
    chart: {{ include "helm-chart.chart" . }}
    release: {{ .Release.Name }}
    heritage: {{ .Release.Service }}
data:
  # https://github.com/matrix-org/synapse/blob/develop/docs/sample_config.yaml
  homeserver.yaml: |
    ## TLS ##
    no_tls: True

    ## Server ##

    server_name: {{ .Values.host }}
    pid_file: /homeserver.pid
    web_client: False
    soft_file_limit: 0

    ## Ports ##

    listeners:
      - port: 8008
        tls: false
        bind_addresses: ['::']
        type: http
        x_forwarded: false

        resources:
          - names: [federation]
            compress: false

    ## Database ##


    database:
      name: "psycopg2"
      args:
        user: "synapse"
        password: "{{ .Values.postgresql.postgresqlPassword }}"
        database: "synapse"
        host: "matrix-synapse-postgresql"
        port: "5432"
        cp_min: 5
        cp_max: 10



    ## Performance ##

    event_cache_size: "10K"
    verbose: 0
    log_file: "/data/homeserver.log"
    log_config: "/conf/log.config"

    ## Ratelimiting ##

    rc_messages_per_second: 0.2
    rc_message_burst_count: 10.0
    federation_rc_window_size: 1000
    federation_rc_sleep_limit: 10
    federation_rc_sleep_delay: 500
    federation_rc_reject_limit: 50
    federation_rc_concurrent: 3

    ## Files ##

    media_store_path: "/data/media"
    uploads_path: "/data/uploads"
    max_upload_size: "10M"
    max_image_pixels: "32M"
    dynamic_thumbnails: false

    # List of thumbnail to precalculate when an image is uploaded.
    thumbnail_sizes:
    - width: 32
      height: 32
      method: crop
    - width: 96
      height: 96
      method: crop
    - width: 320
      height: 240
      method: scale
    - width: 640
      height: 480
      method: scale
    - width: 800
      height: 600
      method: scale

    url_preview_enabled: False
    max_spider_size: "10M"

    ## Captcha ##

    enable_registration_captcha: False

    ## Turn ##

    turn_uris: []

    ## Registration ##

    enable_registration: True
    registration_shared_secret: "d5af47df0a759906dfb4b93d6319fd57c6fc7de4ded6426cf58ca7ebf54afd18"
    bcrypt_rounds: 12
    allow_guest_access: False
    enable_group_creation: true

    # The list of identity servers trusted to verify third party
    # identifiers by this server.
    trusted_third_party_id_servers:
        - matrix.org
        - vector.im
        - riot.im

    auto_join_rooms:
      - "#hansestadt:{{ .Values.host }}"
    autocreate_auto_join_rooms: true

    ## Metrics ###

    enable_metrics: False
    report_stats: False


    ## API Configuration ##

    room_invite_state_types:
        - "m.room.join_rules"
        - "m.room.canonical_alias"
        - "m.room.avatar"
        - "m.room.name"


    app_service_config_files: []


    macaroon_secret_key: "43ba5d42672a6849e63ea339ceebd37938d9fc3275e87c3a935883b6afa224b9"
    expire_access_token: False

    ## Signing Keys ##

    signing_key_path: "/data/{{ .Values.host }}.signing.key"
    old_signing_keys: {}
    key_refresh_interval: "1d" # 1 Day.

    # The trusted servers to download signing keys from.
    perspectives:
      servers:
        "matrix.org":
          verify_keys:
            "ed25519:auto":
              key: "Noi6WqcDj0QmPxCNQqgezwTlBKrfqehY1u2FyWP9uYw"

    password_config:
       enabled: true


    
  log.config: |
    version: 1

    formatters:
      precise:
       format: '%(asctime)s - %(name)s - %(lineno)d - %(levelname)s - %(request)s- %(message)s'

    filters:
      context:
        (): synapse.util.logcontext.LoggingContextFilter
        request: ""

    handlers:
      console:
        class: logging.StreamHandler
        formatter: precise
        filters: [context]

    loggers:
        synapse:
            level: WARNING

        synapse.storage.SQL:
            # beware: increasing this to DEBUG will make synapse log sensitive
            # information such as access tokens.
            level: WARNING

    root:
        level: WARNING
        handlers: [console]
